.container{
  width:min-content;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 5%;
  border: 1px solid #BDBDBD;
  border-radius: 24px;
}

.container-subheading{
  margin-bottom: 10%
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // color: #828282;
}

.mat-form-field{
  width: 100%;
}

.submit-button{
  width: 100%;
  background-color: #2F80ED;
}
p{
  color: #828282;
}
.container-body{

  margin:10% auto;
}

a{
  text-decoration: none;
  color:#2F80ED
}
.container{
  width:min-content;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 5%;
  border: 1px solid #BDBDBD;
  border-radius: 24px;
  background-color: rgb(255,255,255,0.75);
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // color: #828282;
}

.mat-form-field{
  width: 100%;
}

.submit-button{
  width: 100%;
  background-color: #2F80ED;
}
p{
  // color: #828282;
}
.container-body{

  margin:10% auto;
}

a{
  text-decoration: none;
  // color:#2F80ED
}

.icons-list{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0% auto 15%;
}

.background{
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.container-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons-list{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0% auto 15%;
}

.container-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
